In [1]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import os
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

# ---------------------------------------------------------
# 1. ÌôòÍ≤ΩÎ≥ÄÏàò Î°úÎìú (notebooks Ìè¥ÎçîÏùò ÏÉÅÏúÑ Ìè¥ÎçîÏóê ÏûàÎäî .env Î°úÎìú)
# ---------------------------------------------------------
load_dotenv(dotenv_path="../.env")

# 2. DB Ïó∞Í≤∞
DB_CONFIG = {
    "host": os.getenv("DB_HOST"),
    "port": int(os.getenv("DB_PORT", 3306)),
    "user": os.getenv("DB_USER", "admin"),
    "password": os.getenv("DB_PASSWORD"),
    "db": os.getenv("DB_NAME", "projectl")
}

db_url = f"mysql+pymysql://{DB_CONFIG['user']}:{DB_CONFIG['password']}@{DB_CONFIG['host']}:{DB_CONFIG['port']}/{DB_CONFIG['db']}"
engine = create_engine(db_url)
print("‚úÖ DB Ïó∞Í≤∞ ÏÑ±Í≥µ!")

# ---------------------------------------------------------
# 3. Îç∞Ïù¥ÌÑ∞ ÏàòÏßë Ìï®Ïàò (Ïä§ÌÇ§Îßà Ïª¨ÎüºÎ™Ö ÏàòÏ†ï ÏôÑÎ£å)
# ---------------------------------------------------------
def get_item_data(item_name):
    conn = engine.connect()
    try:
        # (1) ÏïÑÏù¥ÌÖú ID Ï∞æÍ∏∞
        item_sql = text("SELECT id FROM market_items WHERE name = :name")
        item_id = conn.execute(item_sql, {"name": item_name}).scalar()
        
        if not item_id:
            print(f"‚ùå '{item_name}' ÏïÑÏù¥ÌÖúÏùÑ Ï∞æÏùÑ Ïàò ÏóÜÏäµÎãàÎã§.")
            return None, None

        print(f"üîç '{item_name}' (ID: {item_id}) Îç∞Ïù¥ÌÑ∞ ÏàòÏßë Ï§ë...")

        # (2) Í∞ÄÍ≤© Î°úÍ∑∏ Í∞ÄÏ†∏Ïò§Í∏∞ (Ïª¨ÎüºÎ™Ö: current_min_price, logged_at)
        price_sql = text("""
            SELECT logged_at, current_min_price
            FROM market_price_logs
            WHERE item_id = :item_id
            ORDER BY logged_at ASC
        """)
        df_prices = pd.read_sql(price_sql, conn, params={"item_id": item_id})
        
        # (3) GPT Score Í∞ÄÏ†∏Ïò§Í∏∞ (Ïª¨ÎüºÎ™Ö: notice_date, gpt_score)
        notice_sql = text("""
            SELECT r.notice_date, i.gpt_score
            FROM item_notice_impacts i
            JOIN raw_notices r ON i.notice_id = r.id
            WHERE i.item_id = :item_id
            ORDER BY r.notice_date ASC
        """)
        df_notices = pd.read_sql(notice_sql, conn, params={"item_id": item_id})
        
        print(f"   - Í∞ÄÍ≤© Î°úÍ∑∏: {len(df_prices)}Í∞ú")
        print(f"   - Í¥ÄÎ†® Í≥µÏßÄ: {len(df_notices)}Í∞ú")
        
        return df_prices, df_notices

    finally:
        conn.close()

# ---------------------------------------------------------
# [ÌÖåÏä§Ìä∏] ÏïÑÏù¥ÌÖú Ïù¥Î¶Ñ ÏûÖÎ†•
# ---------------------------------------------------------
TARGET_ITEM = "Ïú†Î¨º ÏõêÌïú Í∞ÅÏù∏ÏÑú"  # üëà Î∂ÑÏÑùÌïòÍ≥† Ïã∂ÏùÄ ÏïÑÏù¥ÌÖú Ïù¥Î¶Ñ
df_raw, df_gpt = get_item_data(TARGET_ITEM)

display(df_raw.tail(10))
display(df_gpt.tail(10))

‚úÖ DB Ïó∞Í≤∞ ÏÑ±Í≥µ!
üîç 'Ïú†Î¨º ÏõêÌïú Í∞ÅÏù∏ÏÑú' (ID: 65200505) Îç∞Ïù¥ÌÑ∞ ÏàòÏßë Ï§ë...
   - Í∞ÄÍ≤© Î°úÍ∑∏: 7472Í∞ú
   - Í¥ÄÎ†® Í≥µÏßÄ: 8Í∞ú

                      logged_at  current_min_price
7462 2026-02-10 07:50:11.244469             153400
7463 2026-02-10 08:00:13.658671             153400
7464 2026-02-10 08:10:11.249786             153200
7465 2026-02-10 08:20:11.317480             152000
7466 2026-02-10 08:30:13.791721             152000
7467 2026-02-10 08:40:11.349220             152000
7468 2026-02-10 08:50:10.987780             152000
7469 2026-02-10 09:00:14.328629             151999
7470 2026-02-10 09:10:11.231439             151899
7471 2026-02-10 09:20:11.173166             151800

  notice_date  gpt_score
0  2025-12-17        0.0
1  2025-12-24        0.0
2  2025-12-31        0.0
3  2026-01-07        0.3
4  2026-01-14        0.0
5  2026-01-21        0.2
6  2026-01-28        0.0
7  2026-02-04        0.0